<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2020 Rodrigo Cavanha

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-transparent-navigationbar"
        version="1.1.0">

    <name>TransparentNavigationBar</name>
    <description>Cordova Transparent Navigationbar Plugin</description>

    <repo>https://github.com/jonsangar/cordova-plugin-transparent-navigationbar.git</repo>

    <keywords>cordova,navigationbar,transparent</keywords>

    <license>Apache 2.0</license>

    <author>Rodrigo Cavanha</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/transparentnavigationbar.js" name="transparentnavigationbar">
        <clobbers target="window.TransparentNavigationBar" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/TransparentNavigationBar.java" target-dir="src/com/rdcavanha/cordova/plugin/transparentnavigationbar" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TransparentNavigationBar">
                <param name="android-package" value="com.rdcavanha.cordova.plugin.transparentnavigationbar.TransparentNavigationBar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
</plugin>